@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
:root {
  --theme-color: rgb(254, 178, 15);
  --secondary-color: #e87c1e;
  --third-color: #ff2721;
  --primary-font-color: rgb(29, 29, 29);
  --primary-theme: rgb(241, 196, 15, 0.8);
  --primary-theme-second: rgb(46, 134, 222, 0.8);
  --secondary-black: #2c3e50;
  --font-color: black;
}

::selection {
  background: var(--theme-color);
  color: black;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  scroll-behavior: smooth;

  font-family: Poppins;
  transition: 0.3s ease-in-out;
}
a {
  color: white;
  text-decoration: none;
}
body {
  background-color: black;
}
.App {
  background-color: black;
  color: white;
  min-height: 100vh;
  max-width: 100vw;
  width: 95%;
  margin: 0 auto;
}
.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header > div {
  margin: 10px;
}
.punklogo {
  width: 200px;
}

.searchBar {
  background-color: #1c1c1e;
  height: 50px;
  flex: 1;
  display: flex;
  border-radius: 50px;
  display: flex;
  align-items: center;
}
.searchIconContainer {
  margin: 20px;
}
.searchInput {
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
  color: #fff;
  font-size: 16px;
}
.headerItems {
  display: flex;
}
.headerItems > p {
  margin: 10px;
}

.headerIcons {
  display: flex;
}
.headerIcons > div {
  margin: 10px;
}
.themeSwitchContainer {
  display: flex;
  background-color: #1c1c1e;
  border-radius: 50px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
.themeImage {
  height: 25px;
}
.loginButton {
  background: linear-gradient(to right, #ff2721, #e87c1e);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 15px 20px;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  animation: example 1s infinite;
  transition: all 0.3s ease-in-out;
}
@keyframes example {
  from {
    background: linear-gradient(to right, #ff2721, #e87c1e);
  }
  to {
    background: linear-gradient(to left, #ff2721, #e87c1e);
  }
}

/* collection card */
.collectionCard {
  background-color: #1a1c1e;
  border-radius: 10px;
  min-width: 300px;
  height: 500px;
  margin-right: 30px;
  margin: 20px;
}
.collectionCard > img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.wethImage {
  height: 23px;
  width: 15px;
}
.price {
  margin-left: 5px;
  width: 15px;
}
.priceContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  object-fit: contain;
}
.details {
  padding: 10px;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
.id {
  color: #e87c1e;
}
.punkList {
  display: flex;
  overflow-x: scroll;
}

/* width */
.punkList::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
.punkList::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
.punkList::-webkit-scrollbar-thumb {
  background: #525252;
}

/* Handle on hover */
.punkList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main {
  max-height: 50vh;
}

.mainContent {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}
.punkHighlights {
  flex: 0.25;
  display: flex;
  align-items: center;
  justify-content: center;
}
.punkContainer {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin-right: 20px;
}
.selectedPunk {
  object-fit: contain;
  max-width: min(30vw, 40vh);
  max-height: 30vw;
}
.punkDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.75;
}
.itemNumber {
  color: #a1a5b0;
  font-size: 72px;
  align-self: center;
}
.owner {
  display: flex;
  margin: 10px 0;
  height: 50px;
}
.owner > div {
  margin: 0 5px;
}
.title {
  font-size: 96px;
  font-weight: bold;
}
.ownerNameAndHandle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
